body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
}

#map {
    flex: auto;
    width: 100%;
    height: 100%;
}

.mdc-drawer-app-content {
    flex: auto;
    overflow: auto;
}

.main-content {
    overflow: auto;
    height: calc(100% - 64px);
    padding-top: 64px;
}

.app-bar {
    position: absolute;
}